<?php
define("ROOT_DIR",realpath(dirname(__FILE__) )). '/';

const HOME_URL = "https://bear-dev.pp.ua/";
const APP_NAME = "light-poweroff";
const DIR_APPS = "apps";
const URL_API = HOME_URL . DIR_APPS . "/" . APP_NAME . "/api/";
const DIR_LOGS = ROOT_DIR."/logs/";
const DEV        = true;
const TOKEN_DEV = "";
const TOKEN_PROD = "";
const TELEGRAM_ADMIN_ID = 691027924;
const TELEGRAM_BOT_DIR = "telegram_v2";
const TIMEZONE   = "Europe/Kiev";