<?php
define("ROOT_DIR",realpath(dirname(__FILE__) )). '/';

const HOME_URL = "https://bear-dev.pp.ua/";
const APP_NAME = "light-poweroff";
const DIR_APPS = "apps";
const URL_API = HOME_URL . DIR_APPS . "/" . APP_NAME . "/api/";
const DEV        = true;
const TOKEN_DEV = "";
const TOKEN_PROD = "";
const TIMEZONE   = "Europe/Kiev";