<?php
    $config = [
        "database" =>[
            "host" => "",
            "db_name" => "",
            "username" => "",
            "password" => "",
            "charset" => "utf8",
        ],
        "timezone" => "Europe/Kiev",
        "home_url_api" => "",
        "admin_id" => 691027924,
         "bot" => [
            "telegram" =>[
                "test" => true,
                "token" =>[
                    "test" => "",
                    "prod" => ""
                ] 
            ]
        ]
    ]

?>