<?php
    $config = [
        "database" =>[
            "host" => "",
            "db_name" => "",
            "username" => "",
            "password" => "",
            "charset" => "utf8",
        ],
        "timezone" => "Europe/Kiev",
        "bot" => [
            "telegram" =>[
                "token" => ""
            ]
        ]
    ]

?>